<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_shop.html">

<!--장바구니 페이지-->
<section layout:fragment="content" id="cart">
    <!--구매 물건-->
    <div class="select_cart">
        <h4>
        	장바구니<br/>
            <span>*주문하실 상품명 및 수량을 정확하게 확인해 주세요.</span>
        </h4>
        <div>
            <table>
                <thead>
                    <th><input type="checkbox" name="전체선택"></th>
                    <th>전체선택</th>
                    <th>상품정보</th>
                    <th>수량</th>
                    <th>상품금액</th>
                    <th>배송비</th>
                </thead>
                <tr>
                    <td><input type="checkbox" name="개별선택"></td>
                    <td>
                        <div>
                            <img th:src="@{/img/no_images.png}" alt="item_img">
                        </div>
                    </td>
                    <td>
                        <p>
                            <span class="tit cart_item">베스트 매트리스 6종</span>
                            <span>사양 : 싱글</span>
                            <span class="dis_price">69,950원</span>
                            <del class="org_price">110,200원</del>
                        </p>
                    </td>
                    <td>1</td>
                    <td>68,950원</td>
                    <td>33,000원</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="개별선택"></td>
                    <td>
                        <div>
                            <img th:src="@{/img/no_images.png}" alt="item_img">
                        </div>
                    </td>
                    <td>
                        <p>
                            <span class="tit cart_item">베스트 매트리스 6종</span>
                            <span>사양 : 싱글</span>
                            <span class="dis_price">69,950원</span>
                            <del class="org_price">110,200원</del>
                        </p>
                    </td>
                    <td>1</td>
                    <td>68,950원</td>
                    <td>33,000원</td>
                </tr>
            </table>
        </div>
        <div>
            <input type="button" value="선택 삭제">
        </div>
    </div>
    <!--결제 금액 산정-->
    <div class="result_cart">
        <div>
            <div class="cal">
                <div class="cicle">
                    <div><span>상품 금액</span></div>
                    <div class="tit tot_price"><span>110,950원</span></div>
                </div>
                <i class="fas fa-minus"></i>
                <div class="cicle">
                    <div><span>할인 금액</span></div>
                    <div class="tit tot_dis_price"><span>41,250원</span></div>
                </div>
                <i class="fas fa-plus"></i>
                <div class="cicle">
                    <div><span>배송비</span></div>
                    <div class="tit tot_deliver_price"><span>33,000원</span></div>
                </div>
                <i class="fas fa-equals"></i>
                <div class="cicle">
                    <div><span>결제 예정 금액</span></div>
                    <div class="tit tot_rs_price"><span>101,950원</span></div>
                </div>
            </div>
            <p>*쿠폰 및 적립금은 다음 화면에서 사용가능</p>
        </div>
        <div class="purchase"><input type="button" value="구매하기"></div>
    </div>
</section>
        
</html>