<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_shop.html">

            <!--상품목록-->
<section layout:fragment="content" id="list">
	<script>
		$(function(){
		    var sort = $('.sort_list > a');
		    var sort_list = $('.sort_list > ul');
		    
		    sort.click(function(){
		        if(sort_list.css('display','none')){
		            sort_list.css('display','block')
		        }else if(sort_list.css('display',"block")){
		            sort_list.css('display','none')
		        }
		    });
		});
		$(function(){
		
		var cate = $('.m_main > ul > .category ');
		
		cate.hover(function(){
		    $(this).children().eq(1).stop().slideDown(100);
		    },function(){
		    $(this).children().eq(1).stop().slideUp(100); 
		    });
		
		});
		</script>
  <!--제목, 페이지 네비케이션-->
    <nav>
        <div>
            <div class="cate_ico">
                <img th:src="@{/img/icon_sofa.png}" alt="icon_sofa">
                <span>가구 · 패브릭</span>
            </div>
            <ul>
                <li><a href="#">전체보기</a></li>
                <li><a href="#">소파/거실</a></li>
                <li><a href="#">침실</a></li>
                <li><a href="#">드레스룸</a></li>
                <li><a href="#">학생/서재</a></li>
                <li><a href="#">테이블</a></li>
                <li><a href="#">의자/스툴</a></li>
                <li><a href="#">아동가구</a></li>
            </ul>
        </div>
    </nav>
    <!--상품목록-->
    <section>
        <div class="list_head">
            <span>전체 1,023개</span>
            <!--클릭뒤에 다시 안올라감-->
            <div class="sort_list">
                <a href="#">추천순<i class="fas fa-arrow-up"></i></a>
                <ul>
                    <li><a href="#">추천순</a></li>
                    <li><a href="#">신상품순</a></li>
                    <li><a href="#">인기순</a></li>
                    <li><a href="#">낮은 가격순</a></li>
                    <li><a href="#">높은 가격순</a></li>
                </ul>
            </div>
        </div>
        <div class="list_item">
            <div>
                <ul>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/no_images.png}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/no_images.png}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/no_images.png}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/no_images.png}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/no_images.png}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/no_images.png}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="list_img">
                                <a href="#">
                                    <img th:src="@{/img/no_images.png}" alt="item01">
                                </a>
                            </div>
                            <div class="list_content">
                                <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    <span>16,800원 외</span>
                                </span>
                                <p>
                                    <span><i class="fas fa-star"></i>4.6</span>
                                    리뷰 10,142
                                </p>
                                <span>
                                    <span class="free_d">무료배송</span>
                                    <span class="lower_p">최저가</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--상품목록 페이지 번호-->
    <div class="paging">
        <span class="prev"><a href="#"> ◁&nbsp이전</a></span>
        <span class="num">
            <a href="#" class="on">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
        </span>
        <span class="next"><a href="#">다음&nbsp▷</a></span>
    </div>
</section>
        
</html>