<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_shop.html">

            <!--주문완료 페이지-->
            <section layout:fragment="content" id="order_complete">
                <!--구매 물건-->
                <div>
                    <h4>고객님의 주문이 완료되었습니다.</h4>
                    <article>
                        <h3>주문상품</h3>
                        <table>
                            <tr>
                                <td></td>
                                <td>상품정보</td>
                                <td>상품금액</td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <img th:src="@{/img/no_images.png}" alt="상품이미지">
                                    </div>
                                </td>
                                <td>
                                    <p>
                                        <span class="tit order_item">베스트 매트리스 6종</span>
                                        <span>사양 : 싱글</span>
                                        <span class="dis_price">69,950원</span>
                                        <del class="org_price">110,200원</del>
                                    </p>
                                </td>
                                <td>68,950원</td>
                            </tr>
                        </table>
                    </article>
                    <article>
                        <h3>결제정보</h3>
                        <div>
                            <label>
                                <ins>총 주문금액</ins>
                                <span>68,950원</span>
                            </label>
                            <label>
                                <ins>상품할인</ins>
                                <span>0원</span>
                            </label>
                            <label>
                                <ins>쿠폰할인</ins>
                                <span>-1,000원</span>
                            </label>
                            <label>
                                <ins>적립금 사용</ins>
                                <span>-200P</span>
                            </label>
                            <label>
                                <ins>배송비</ins>
                                <span>33,000원</span>
                            </label>
                            <label>
                                <ins>결제금액</ins>
                                <span>100,000원</span>
                            </label>
                            <label>
                                <ins>적립금액</ins>
                                <span>1,000P</span>
                            </label>
                            <label>
                                <ins>결제방법</ins>
                                <span>네이버페이</span>
                            </label>
                        </div>
                    </article>
                    <article>
                        <h3>주문정보</h3>
                        <div>
                            <label>
                                <ins>주문번호</ins>
                                <span>111111111</span>
                            </label>
                            <label>
                                <ins>주문자</ins>
                                <span>강래구</span>
                            </label>
                            <label>
                                <ins>연락처</ins>
                                <span>010-1111-1111</span>
                            </label>
                        </div>
                    </article>
                    <article>
                        <h3>배송정보</h3>
                        <div>
                            <label>
                                <ins>받는분</ins>
                                <span>강래구</span>
                            </label>
                            <label>
                                <ins>연락처</ins>
                                <span>010-1111-1111</span>
                            </label>
                            <label>
                                <ins>배송주소</ins>
                                <span>부산광역시 수영구 마드리드로1번가길 4 303호</span>
                            </label>
                        </div>
                    </article>
                    <div>
                        <input type="button" value="메인으로 이동">
                    </div>
                </div>
                <!--결제 금액 산정-->
            </section>
</html>