<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_shop.html">
            <!--상품 상세 페이지-->
            <section layout:fragment="content" id="view">
            <script>
		         $(function(){
		
		        var cate = $('.m_main > ul > .category ');
		        var clk_table = $('#view> .view_detail  .d_content>div');
		
		        cate.hover(function(){
		            $(this).children().eq(1).stop().slideDown(100);
		            },function(){
		            $(this).children().eq(1).stop().slideUp(100); 
		            });
		
		        clk_table.click(function(){
		            $(this).children().eq(1).css('display', 'block')
		        });
		
		        });
		
		        $(function(){
		            var cate_bar = $('#view .product_cate');
		
		            $(window).scroll(function(){
		                var t = $(this).scrollTop();
		                console.log('t :'+t);
		                if(t>789){
		                    cate_bar.css({
		                        'position': 'fixed',
		                        'top':'0'
		                    })
		                }else{
		                    cate_bar.css({'position': 'static'})
		                }
		            });
		        });
    		</script>
                <!--상품 기본 설명-->
                <!--페이지 네비케이션-->
                <div>
                    <nav>
                        <p>
                            <span>HOME</span>
                            >
                            <span>가구·패브릭</span>
                            >
                            <span>책장</span>
                        </p>
                    </nav>
                    <div class="product_image">
                        <div>
                            <div class="cover_image">
                                <div>
                                    <img th:src="@{/img/view_item01.jpg}" alt="main_image">
                                </div>
                                <ul>
                                    <li><button><img th:src="@{/img/view_item01.jpg}" alt="pre_image_01"></button></li>
                                    <li><button><img src="" alt="pre_image_02"></button></li>
                                    <li><button><img src="" alt="pre_image_03"></button></li>
                                    <li><button><img src="" alt="pre_image_04"></button></li>
                                    <li><button><img src="" alt="pre_image_05"></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="explain_product">
                        <div>
                            <h1>
                                <span>쿠키앤크림 일자/사다리책장 1~6단</span>
                                <a href="#" class="brand_title">채우리</a>
                            </h1>
                            <p>
                                <a href="#">
                                    <span>
                                        <i class="fas fa-star"></i>4.6
                                    </span>
                                    <span>1787개 리뷰</span>
                                </a>
                            </p>
                            <p>
                                <span>
                                    <span class="discount_rate">50%</span>
                                    16,800원 외
                                </span>
                            </p>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <button type="button">
                                            <span>상품을 선택하세요.</span>
                                            <img th:src="@{/img/icon_arrow_dow.png}" alt="dropdown">
                                        </button>
                                    </div>
                                    <div class="dropdown_list">
                                        <ul>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <button type="button">
                                            <span>추가 상품을 선택하세요.</span>
                                            <img th:src="@{/img/icon_arrow_dow.png}" alt="dropdown">
                                        </button>
                                    </div>
                                    <div class="dropdown_list">
                                        <ul>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                            <li>
                                                <button>
                                                    <div class="index">1</div>
                                                    <div><img th:src="@{/img/no_images.png}" alt=""></div>
                                                    <div>
                                                        <span>쿠키앤크림 일자책장 2단</span>
                                                        <span>
                                                            <span class="discount_rate">50%</span>
                                                            <span>16,800원 외</span>
                                                        </span>
                                                        <span>
                                                            <span class="free_d">무료배송</span>
                                                            <span class="lower_p">최저가</span>
                                                        </span>    
                                                    </div>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    <span>주문금액</span>
                                    <span>0원</span>
                                </p>
                            </div>
                            <div>
                                <button>장바구니</button>
                                <button>바로구매</button>
                            </div>
                        </div>
                        <div>
                            <a href="#"><img th:src="@{/img/vip_plcc_banner.png}" alt="이벤트 배너"></a>
                        </div>
                    </div>
                </div>
                <!--상품 상세페이지 카테고리-->
                <div class="product_cate">
                    <div>
                        <ul>
                            <li><a href="#">상세정보</a></li>
                            <li><a href="#">리뷰</a></li>
                            <li><a href="#">문의</a></li>
                            <li><a href="#">배송/환불</a></li>
                            <li><a href="#">추천</a></li>
                        </ul>
                    </div>
                </div>
                <!--상품 상세 영역-->
                <div class="view_detail">
                    <!--상품 이미지/설명-->
                    <section class="view_detail_image">
                        <img th:src="@{/img/view_main_image.jpg}" alt="제품 이미지">
                    </section>
                    <!--상품 리뷰-->
                    <section class="view_detail_review">
                        <div class="d_header">
                            <span>리뷰 10,024</span>
                            <div class="sort_list">
                                <select>
                                    <option value="1">최근 등록순</option>
                                    <option value="2">조회순</option>
                                    <option value="3">가장 오래된 순</option>
                                </select>
                            </div>
                        </div>
                        <div class="d_content">
                            <table>
                                <tr>
                                    <td class="index">번호</td>
                                    <td class="score">별점</td>
                                    <td class="title">제목</td>
                                    <td class="writer">작성자</td>
                                    <td class="date">작성일</td>
                                    <td class="count">조회수</td>
                                </tr>
                            </table>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">1,024</td>
                                        <td class="score"><i class="fas fa-star"></i>&nbsp;4.6</td>
                                        <td class="title">가성비 갑인듯</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                        <td class="count">5</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <img src="#" alt="review_image">
                                    </div>
                                    <div>
                                        <span>가성비 갑인듯</span><br/>
                                        
                                        <p>며칠 사용해 보니 내구성이 좋은거 같습니다. 단단하니 오래 사용할 수 있을 거 같아요.</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="d_submit">
                            <input type="submit" value="리뷰 작성">
                        </div>
                        <!--리뷰 페이지 번호-->
                        <div class="paging">
                            <span class="prev"><a href="#"> ◁&nbsp이전</a></span>
                            <span class="num">
                                <a href="#" class="on">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                            </span>
                            <span class="next"><a href="#">다음&nbsp▷</a></span>
                        </div>
                    </section>
                    <!--상품 문의-->
                    <section class="view_detail_qna">
                        <div class="d_header">
                            <span>상품 문의 10</span>
                        </div>
                        <div class="d_content">
                            <table>
                                <tr>
                                    <td class="index">번호</td>
                                    <td class="title">제목</td>
                                    <td class="writer">작성자</td>
                                    <td class="date">작성일</td>
                                </tr>
                            </table>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">10</td>
                                        <td class="title">배송 언제 출발하나요?</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <span>배송 언제 출발하나요?</span><br/>
                                        <p>배송 언제 출발하나요? 주문한지 일주일 정도 지난거 같은데</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">10</td>
                                        <td class="title">배송 언제 출발하나요?</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <span>배송 언제 출발하나요?</span><br/>
                                        
                                        <p>배송 언제 출발하나요? 주문한지 일주일 정도 지난거 같은데</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">10</td>
                                        <td class="title">배송 언제 출발하나요?</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <span>배송 언제 출발하나요?</span><br/>
                                        
                                        <p>배송 언제 출발하나요? 주문한지 일주일 정도 지난거 같은데</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">10</td>
                                        <td class="title">배송 언제 출발하나요?</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <span>배송 언제 출발하나요?</span><br/>
                                        
                                        <p>배송 언제 출발하나요? 주문한지 일주일 정도 지난거 같은데</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">10</td>
                                        <td class="title">배송 언제 출발하나요?</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <span>배송 언제 출발하나요?</span><br/>
                                        
                                        <p>배송 언제 출발하나요? 주문한지 일주일 정도 지난거 같은데</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="index">10</td>
                                        <td class="title">배송 언제 출발하나요?</td>
                                        <td class="writer">울란도르트</td>
                                        <td class="date">2020-08-20</td>
                                    </tr>
                                </table>
                                <div>
                                    <div>
                                        <span>배송 언제 출발하나요?</span><br/>
                                        
                                        <p>배송 언제 출발하나요? 주문한지 일주일 정도 지난거 같은데</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d_submit">
                            <input type="submit" value="상품 문의">
                        </div>
                        <!--리뷰 페이지 번호-->
                        <div class="paging">
                            <span class="prev"><a href="#"> ◁&nbsp이전</a></span>
                            <span class="num">
                                <a href="#" class="on">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                            </span>
                            <span class="next"><a href="#">다음&nbsp▷</a></span>
                        </div>
                    </section>
                    <!--상품 배송/환불-->
                    <section class="view_detail_refund">
                        <div>
                            <h4>배송</h4>
                            <table>
                                <tr>
                                    <td>배송</td>
                                    <td>업체 직접 배달 | 15일 이내</td>
                                </tr>
                                <tr>
                                    <td>배송비</td>
                                    <td>22,000원</td>
                                </tr>
                                <tr>
                                    <td>도서산간 추가 배송비</td>
                                    <td>55,000원</td>
                                </tr>
                                <tr>
                                    <td>배송 불가 지역</td>
                                    <td>도서산간 지역 일부</td>
                                </tr>
                                <tr>
                                    <td>비례 배송비</td>
                                    <td>주문 상품 개수에 비례하여 배송비 부과</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h4>교환/환불</h4>
                            <table>
                                <tr>
                                    <td>반품 배송비</td>
                                    <td>33,000원 (최초 배송비가 무료인 경우 66,000원 부과)</td>
                                </tr>
                                <tr>
                                    <td>교환 배송비</td>
                                    <td>66,000원</td>
                                </tr>
                                <tr>
                                    <td>보내실 곳</td>
                                    <td>(06234) 서울 강남구 진현우로 28 (역삼동) 우형빌딩 3층 MCJ</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h4>반품/교환 사유에 따른 요청 가능 기간</h4>
                            <span>반품 시 먼저 판매자와 연락하셔서 반품사유, 택배사, 배송비, 반품지 주소 등을 협의하신 후 반품상품을 발송해 주시기 바랍니다.</span>
                            <p>
                                1 구매자 단순 변심은 상품 수령 후 7일 이내<span>(구매자 반품배송비 부담)</span><br/>
                                2 표시/광고와 상이, 상품하자의 경우 상품 수령 후 3개월 이내 혹은 표시/광고와 다른 사실을 안 날로부터 30일 이내.<br/>
                                둘 중 하나 경과 시 반품/교환 불가 <span>(판매자 반품배송비 부담)</span>
                            </p>
                            <h4>반품/교환 불가능 사유</h4>
                            <span>아래와 같은 경우 반품/교환이 불가능합니다.</span>
                            <p>
                                1 반품요청기간이 지난 경우<br/>
                                2 구매자의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우<span>(단, 상품의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외)</span><br/>
                                3 포장을 개봉하였으나 포장이 훼손되어 상품가치가 현저히 상실된 경우<span>(예: 식품,화장품)</span><br/>
                                4 구매자의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우<span> (라벨이 떨어진 의류 또는 태그가 떨어진 명품관 상품인 경우)</span><br/>
                                5 시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우<span>(예: 식품,화장품)</span><br/>
                                6 고객주문 확인 후 상품제작에 들어가는 주문제작상품<br/>
                                7 복제가 가능한 상품 등의 포장을 훼손한 경우<span>(CD/DVD/GAME/도서의 경우 포장 개봉 시)</span><br/>

                            </p>
                        </div>
                    </section>
                </div>
                <!--상품 추천-->
                <section class="view_detail_recommend">
                    <div>
                        <h4>추천상품</h4>
                        <div class="recommend_item">
                            <ul>
                                <li>
                                    <div>
                                        <div class="recommend_img">
                                            <a href="#">
                                                <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                            </a>
                                        </div>
                                        <div class="recommend_content">
                                            <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                            <span>
                                                <span class="discount_rate">50%</span>
                                                <span>16,800원 외</span>
                                            </span>
                                            <p>
                                                <span><i class="fas fa-star"></i>4.6</span>
                                                리뷰 10,142
                                            </p>
                                            <span>
                                                <span class="free_d">무료배송</span>
                                                <span class="lower_p">최저가</span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="recommend_img">
                                            <a href="#">
                                                <img th:src="@{/img/no_images.png}" alt="item01">
                                            </a>
                                        </div>
                                        <div class="recommend_content">
                                            <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                            <span>
                                                <span class="discount_rate">50%</span>
                                                <span>16,800원 외</span>
                                            </span>
                                            <p>
                                                <span><i class="fas fa-star"></i>4.6</span>
                                                리뷰 10,142
                                            </p>
                                            <span>
                                                <span class="free_d">무료배송</span>
                                                <span class="lower_p">최저가</span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="recommend_img">
                                            <a href="#">
                                                <img th:src="@{/img/no_images.png}" alt="item01">
                                            </a>
                                        </div>
                                        <div class="recommend_content">
                                            <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                            <span>
                                                <span class="discount_rate">50%</span>
                                                <span>16,800원 외</span>
                                            </span>
                                            <p>
                                                <span><i class="fas fa-star"></i>4.6</span>
                                                리뷰 10,142
                                            </p>
                                            <span>
                                                <span class="free_d">무료배송</span>
                                                <span class="lower_p">최저가</span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="recommend_img">
                                            <a href="#">
                                                <img th:src="@{/img/no_images.png}" alt="item01">
                                            </a>
                                        </div>
                                        <div class="recommend_content">
                                            <h1><span>[오늘의딜]워터쉴드 방수 매트리스 커버</span></h1>
                                            <span>
                                                <span class="discount_rate">50%</span>
                                                <span>16,800원 외</span>
                                            </span>
                                            <p>
                                                <span><i class="fas fa-star"></i>4.6</span>
                                                리뷰 10,142
                                            </p>
                                            <span>
                                                <span class="free_d">무료배송</span>
                                                <span class="lower_p">최저가</span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>
</html>