<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_member.html">

            <!--로그인 페이지-->
<section layout:fragment="content" id="login">
    <div>
        <div>
            <h4>로그인</h4>
        </div>
        <form th:action="@{/member/login}" method="post">
            <div>
                <div>
                    <input type="text" name="uid" placeholder="아이디를 입력해주세요.">
                    <input type="password" name="pass" placeholder="비밀번호를 입력해주세요.">
                </div>
                <div>
                    <input type="checkbox" name="" id="">
                    <span>보안접속</span>
                    <span>
                        <a href="#">아이디 찾기</a>
                        &nbsp;|&nbsp;
                        <a href="#">비밀번호 찾기</a>
                    </span>
                </div>
                <div>
                    <input type="submit" value="로그인">
                </div>
            </div>
        </form>
        <div>
            <a th:href="@{/member/signup}">회원가입</a>
        </div>
    </div>
</section>
        
</html>