<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
 <header th:fragment="_header">
     <div class="top">
         <div>
             <a href="#">로그인</a>
             <a href="#">회원가입</a>
             <a href="#">주문배송</a>
             <a href="#">고객센터</a>
         </div>
     </div>
     <div class="logo">
         <div>
             <a href="#">
                 <img th:src="@{/img/logo.jpg}" alt="logo">DOMUN OR CASA
             </a>
             <form action="#">
                 <input type="text" name="search">
                 <button><i class="fa fa-search"></i></button>
             </form>
         </div>
     </div>
     <div class="menu">
         <div class="m_main">
             <ul>
                 <li class="category">
                     <a href="#"><i class="fa fa-bars" aria-hidden="true"></i>전체카테고리</a>
                     <ol>
                         <li>
                             <a href="#">
                                 가구·패브릭
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 수납·정리
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 생활용품
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 가전
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 홈데코
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 주방
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 욕실
                             </a>
                         </li>
                     </ol>
                 </li>
                 <li><a href="#">최신상품</a></li>
                 <li><a href="#">베스트</a></li>
                 <li><a href="#">특가상품</a></li>
                 <li><a href="#">이벤트</a></li>
             </ul>
             <section>
                 <div>
                     <a href="#">#소파</a>
                     <a href="#">#가구</a>
                     <a href="#">#인테리어</a>
                     <a href="#">#조명</a>
                 </div>
             </section>
         </div>
         
     </div>
 </header>
        
</html>