<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_main.html">
        <main id="main" layout:fragment="content">
        <script th:src="@{/js/slider.js}"></script>
            <!--슬라이더 영역-->
            <section class="slider">
                <ul>
                    <li><img th:src="@{/img/slider_banner_01.jpg}" alt="slider_banner_01"></li>
                    <li><img th:src="@{/img/slider_banner_02.jpg}" alt="slider_banner_02"></li>
                    <li><img th:src="@{/img/slider_banner_03.jpg}" alt="slider_banner_03"></li>
                    <li><img th:src="@{/img/slider_banner_04.jpg}" alt="slider_banner_04"></li>
                </ul>
            </section>
            <!--추천상품 영역-->
            <section class="recommend">
                <div>
                    <h4><a href="#">추천상품</a></h4>
                    <article>
                        <ul>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            
                            
                        </ul>
                    </article>
                </div>
            </section>
            <!--베스트상품 영역-->
            <section class="best">
                <div>
                    <h4><a href="#">베스트 상품</a></h4>
                    <article>
                        <ul>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                    <del>320,200원</del>
                                </div>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
            <!--이벤트배너 영역-->
            <section class="event">
                <div>
                    <a href="#"><img th:src="@{/img/evnet_banner.jpg}" alt="event_01"></a>
                </div>
            </section>
            <!--특가상품 영역-->
            <section class="discount">
                <div>
                    <h4><a href="#">특가상품</a></h4>
                    <article>
                        <ul>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <img th:src="@{/img/pre_view_item01.jpg}" alt="item01">
                                </a>
                                <div>
                                    <a href="#">[폴만] 포레 원목 침대 Q K 겸용</a>
                                    <span>289,000원</span>
                                </div>
                            </li>
                            
                        </ul>
                    </article>
                </div>
            </section>
            <!--최신리뷰 영역-->
            <section class="new_review">
                <div>
                    <h4><a href="#">오늘의 리뷰</a></h4>
                    <article>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="review_image">
                                        <img th:src="@{/img/review_01.jfif}" alt="review_01">
                                    </div>
                                    <div class="review_name">
                                        <div>이국적인 느낌나는 가구를 원한다면<br/></div>
                                        <div>
                                            <img th:src="@{/img/unname_logo.png}" alt="no_image">
                                            <span>달리는가구맨</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </section>
        </main>
</html>